<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.application.logicliberators" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.application.logicliberators.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.application.logicliberators.modules.homepageguru.ui.HomepageGuruActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.informasisaya.ui.InformasiSayaActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.homepagegurustrat.ui.HomepageGuruStratActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.daftarmengajar.ui.DaftarMengajarActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.pengaturanmengajar.ui.PengaturanMengajarActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.application.logicliberators.modules.landingpage.ui.LandingPageActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.logicliberators.modules.notifikasiaccguru.ui.NotifikasiAccGuruActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.daftarchatortu.ui.DaftarChatOrtuActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.signin.ui.SignInActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.chatisiguru.ui.ChatIsiGuruActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.userprofileguru.ui.UserProfileGuruActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.notifikasi2eight.ui.Notifikasi2EightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.informasiguruuntukortu.ui.InformasiGuruUntukOrtuActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.penilaiansiswadidik.ui.PenilaianSiswaDidikActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.pagekelasberlangsung2eight.ui.PageKelasBerlangsung2EightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.chatisiortu.ui.ChatIsiOrtuActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.homepageguruberlangsung7eight.ui.HomepageGuruBerlangsung7EightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.userprofileortuafterdaftar.ui.UserProfileOrtuAfterDaftarActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.userprofileortuaccguru.ui.UserProfileOrtuAccGuruActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.notifikasione.ui.NotifikasiOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.pagekelasberlangsung7eight.ui.PageKelasBerlangsung7EightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.pagekelasberlangsung1eight.ui.PageKelasBerlangsung1EightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.homepageguruberlangsung1eight.ui.HomepageguruBerlangsung1EightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.homepageortucontainer.ui.HomepageOrtuContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.application.logicliberators.modules.rekrutbayar.ui.RekrutBayarActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
